/* -------------------------------------
 * Utilities classes
 * ------------------------------------- */
.padded {
  padding-top: 4em;
  padding-bottom: 4em;
}

.bg-black {
	background-color: $gray-darker ;
	color: white;
}