

#banner {
	background-image: image-url("banner.jpg");
	background-size: cover;
	height: 700px;
	color: white;
	padding: 100px 50px;
	h1{
	font-size: 60px;
	}
	p{
	font-size: 30px;
	font-weight: 300;
	}
}


