---
title: contact
---

<div class="text-center padded">
  <h2>Leave your mail</h2> 

  <form action="http://happymonday.us10.list-manage.com/subscribe/post?u=270f1065517e923f8dea37c17&amp;id=5f3356ee73" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" placeholder="bob@gmail.com" class="form-control" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">
  </form>

</div>


<div class="container padded">
  <h1 class='text-center'>The Team</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 text-center">
      <div class="padded-x-left">
        <%= image_tag "photo_francoise.jpg", class:"img-circle"%> 
        <h4>@francoiserrault</h4>
      </div>
    </div> 
    <div class="col-xs-12 col-sm-6 col-md-6  text-center">
      <div class="padded-x-right">
        <%= image_tag "romain.jpeg", class:"img-circle"%>
        <h4>@romainvivien</h4>
      </div>
    </div> 
  </div> 
</div> 



</div>