---
title: contact
---

<div class="text-center padded">
<h1>The Team</h1>
	<div class="container">
  		<div class="row">
    		<div class="col-xs-12 col-sm-6 col-md-6 text-center">
    		<div class="padded-x-left">
      			<img src="http://placehold.it/200x200" class= "img-circle">
        		<h2>Francoise</h2>
        	</div>
      		</div> 
      		<div class="col-xs-12 col-sm-6 col-md-6  text-center">
      		<div class="padded-x-right">
	      		<img src="http://placehold.it/200x200" class= "img-circle">
	        	<h2>Romain</h2>
	        </div>
	      	</div> 
    	</div> 
	</div> 

	
	
</div>